/* entire container, keeps perspective */
#ie{
    /*display: none;*/
}
img { -ms-interpolation-mode: bicubic; }
.back-ie{
    display: none;
}


.flip-container {
    width: 100%;
    float: left;
    height: auto;
}

.flip-container-ie {
    width: 100%;
    float: left;
    height: auto;
}
/* flip the pane when hovered */



.flip-container, .front, .back{
    float:left;
}

.flip-container{
width: 100%;  
margin: 1% auto;
}

.flip-container-ie{
width: 100%;  
margin: 1% auto;
}



@media only screen and (min-width: 335px) {

    
}

@media only screen and (min-width: 380px) {

    
.flip-container {
    width: 49.5%;
    margin: 0.25%;
    }

.flip-container-ie {
    width: 49.5%;
    margin: 0.25%;
    }

}

@media only screen and (min-width: 490px) {

    
}
/*************************************************
TABLET PHONE LAYOUT:
481PX TO 800PX. INHERITS STYLES FROM : MOBILE LAYOUT
*************************************************/
@media only screen and (min-width: 551px) {
    
  /* entire container, keeps perspective */
.flip-container {
    float: left;
    height: auto;
}
    
.flip-container-ie {
    width: 25%;
    float: left;
    height: auto;
}    


.flip-container, .front, .back {
    float:left;
}
    
.flip-container{
width: 32.75%; 
margin: 0.25%;
}

.flip-container-ie{
width: 32.75%; 
margin: 0.25%;
}    
  
}

@media only screen and (min-width: 700px) {


.flip-container{
    width: 24.25%; 
    margin: 0.25%;
    }

.flip-container-ie{
    width: 24.25%; 
    margin: 0.25%;
    }    

    
}

@media only screen and (min-width: 860px) {


}

@media only screen and (min-width: 960px) {



}

@media only screen and (min-width: 1070px) {

}
/*************************************************
DESKTOP LAYOUT:
801PX TO 1300PX. INHERITS STYLES FROM : MOBILE LAYOUT AND TABLET LAYOUT
*************************************************/
@media only screen and (min-width: 1161px) {
 /* entire container, keeps perspective */
.flip-container {
    width: 19.5%;
    float: left;
    height: auto;
}

.flip-container-ie {
    width: 19.5%;
    float: left;
    height: auto;
}

    
}

@media only screen and (min-width: 1201px) {

}

@media only screen and (min-width: 1550px) {
 
}

@media only screen and (min-width: 1800px) {


}

@media only screen and (min-width: 1900px) {



}

@media only screen and (min-width: 2000px) {



}