/********************************************
CSS ANIMATION LADYBIRD
**********************************************/
/* Chrome, Safari, Opera */
@-webkit-keyframes spiderdropone {
    0%   {display: none; left:87%; top:-100px;}
    25%  {left:87%; top:100px;}
    50%  {left:87%; top:175px;}
    75%  {left:87%; top: 250px;}
    100% {left:87%; top: 325px; display: block;}
	}

/* Standard syntax */
@keyframes spiderdropone {
    0%   {display: none; left:87%; top:-100px;}
    25%  {left:87%; top:100px;}
    50%  {left:87%; top:175px;}
    75%  {left:87%; top: 250px;}
    100% {left:87%; top: 325px; display: block;}
	}

img { -ms-interpolation-mode: bicubic; }
/*Ensure that a vertical scroll bar is always displayed in the browser.*/
html {overflow-y: scroll;}
/*End*/

body {
	background: #fff;
	font-size: 16px;
	}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
	}

h1 {
	font-size: 180%;
	}
	
h2 {
	font-size: 160%;
	}

h3 {
	font-size: 140%;
	}

h4 {
	font-size: 110%;
	color: #97979B;
	}
	
h5 {
	font-size: 90%;
	}

h6 {
	font-size: 80%;
	}
.required:after{
    content: "*";
    color: #F00;
    
}	
.quicksand{
    font-family: 'Quicksand', sans-serif;
    font-size: 115%;
    word-spacing: 0.1em;
    line-height: 1.5em;
}	
.bilbo{font-family: 'Bilbo', cursive; font-size: 230%;}
.cinzel{font-family: 'Cinzel', serif;}
.quicksand-heading{font-family: 'Quicksand', sans-serif;}
.open-san{font-family: "Open Sans";}
.section-middle-contact cke_1_top{
    display: none;
}

img {
	max-width: 100%;
	}

*img {
	width: 100%;
	}
	
.clear_float {
	clear: both;
	font-size: 0;
	line-height: 0;
	}
	
.current-menu-item{
	background: #000 !important;
	color: #7FB81C !important;
	}	
	
.current-menu-item-a{
	color: #7FB81C !important;
	}	

.msg_box{
    color: #F00;
}
/*************************************************
MOBILE PHONE LAYOUT:
0PX TO 480PX
*************************************************/
#wrapper{
	width: 98%;
	margin: 0 auto;
	z-index: 99999;
	}

.download{
    background: #E3E5E6;
    box-shadow: 0px 0px 10px #888888 inset;
    padding: 3% 3%;
    margin: 2% auto;
    text-align: center;
}

    .download a{
    color: #ADAEB1;
    font-family: "Open Sans";
    text-decoration: none;
}
    .download:hover{
        text-decoration: underline;
    }

section.section-middle-contact.section-register {
    padding-top: 2%;
}
/*----- FARM HISTORY ------ */
p.bilbo.history-heading {
    margin-top: 0;
}

h1{font-family: 'Cinzel', serif; font-weight: 300; color: #97979B;}
	
.main_heading,
.boxshadow,
.no-border,
.figcap-main,
.figcap-sub,
.lizard,
.middle-p,
.duck,
#desktop_menu,
#ladybug, #banner,
#butterfly{
	display: none;
	}

.village-middle-p{
    display: block;
}
/* ------ NAV ------ */
#mobile{
	width: 96%;
    height: auto;
    background: #E3E5E6;
	padding: 2%;
	margin-bottom: 3%;
    z-index: 99;
	}
	
	#mobile img{
		width: 12%;
		float: right;
		}	
		
.mobile_nav{
	display: none;
	margin-bottom: 3%;
	}
	
	.mobile_nav ul li{
		width: 94%;
		padding: 3%;
		height: auto;
		background: #E3E5E6;
		border-bottom: 1px solid #666;
		box-shadow: 0px 0px 10px #888888 inset;
		}
		
		.mobile_nav ul li a{
			text-decoration: none;
			color: #AEAFB2;
			text-transform: uppercase;
			font-size: 115%;
			}

.click-to-buy{
    width: 100% !important;
    padding: 0 !important;
    background: #D0222B !important;
    box-shadow: none !important;
}

.rabie{
    width: 100% !important;
    padding: 0 !important;
    background: #73BF45 !important;
    box-shadow: none !important;
}

.facebook{
    width: 100% !important;
    padding: 0 !important;
    background: #3B5999 !important;
    box-shadow: none !important;
}

.click-to-buy img, .rabie img, .facebook img{
    width: 50%;
}			
/* ----- LOGO ----- */
#logo,
.wide-logo-contact{
	display: none;
	}
	
#logo-mobile{
	width: 100%;
	}

/* ----- MAIN CONTAINER ----- */
.main-pic-1, .main-pic-2{
	display: none;
	}

/* ----- SLIDER ----- */	
.main-container{overflow: hidden;}
#slidy-container{padding-top: 2%;}
#red-banner{width: 100%; margin-top: 2%;}

/* ------ NEWS PAGE ----- */
.section-middle article:nth-of-type(1){
    border-top: none;
    }

p.date-added {
    font-size: 90%;
    color: #666;
    }

.news-article {
    padding: 2% 0;
    border-top: solid 1px #999;
    }
    
.news-article a{
    text-decoration: none;
    }

.news-article a:hover{
    text-decoration: underline;
    color: #97979B;
    }

    .news-content {
        width: 98%;
        padding: 1%;
        margin: 2% 0 0;
        } 

        .description-p{
            margin-bottom: 0;
            }

figure#news_details_fig-d{
    margin: 1% auto;
}

article.news-article-d {
    margin: 2% auto;
}
/* ----- LOCALITY MAP PAGE ----- */
.fig{
	text-align: center;
	margin: 2% auto;
	width: 100%;
	height: auto;
	}


.map-fig{
	transition: all .8s ease-in-out;
	z-index: 999999;
	}
	
.locality-article{
	width: 98%;
    padding: 0 1%;
	}
	
/* ----- THE VILLAGE ------ */
p.bilbo.coffee.village-dog-p {
    width: 90%;
    padding: 0;
    color: #666;
}


/* ----- MIDDLE SECTION - ASIDES - HOME PAGE----- */
.top-article p, .bottom-article p{
	text-align: center;
	width: 100%;
    margin: 5% auto;
	}	
	
.aside-2 #img-1,
.aside-2 #img-2,
.aside-2 #img-3{
	display: none;
	}	

/* ------ FACILITIES PAGE ----- */
.facilities-par{
    width: 98%;
    padding: 1%;
}

.facilities-heading {
    margin: 3% auto;
    /* font-size: 100%; */
    text-align: center;
}

/* ----- BOTTOM SECTION - HOME PAGE ----- */
.bottom-fig{
	margin: 2% auto;
	}

p.bilbo.coffee {
    width: 70%;
    padding: 0 15%;
    line-height: 1em;
}

/* ----- DOCUMENTS PAGE ----- */
.docs{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 4% 2%;
    border-bottom: solid 1px #999;  
}

p.docs-p {
    font-size: 120%;
    text-transform: uppercase;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 0;
}

.docs-a{
    text-decoration: none;
    color: #999;   
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    }

    .docs-a:hover{
        text-decoration: underline;
        color: #999;    
        }  

/* ----- CONTACT PAGE ----- */
.section-middle-contact{
    text-align: center;
    margin: 2% auto;
}

.section-middle-contact fieldset{
    border: none;
}

.section-middle-contact fieldset input, .section-middle-contact fieldset label, .section-middle-contact fieldset textarea{
    width: 96%;
    padding: 2%;
    margin: 4% auto;
}
.section-middle-contact fieldset textarea{
    min-height: 100px;
}


.section-middle-contact fieldset input[type="submit"]{
    width: 40%;
    background: #fff;
    padding: 4% 0;
    border: solid 1px #ADAEB1;
    font-family: "Open Sans";
    color: #ADAEB1;
    box-shadow: 0px 0px 10px #888888 inset;
}

.section-middle-contact fieldset input[type="date"]{
    background: #fff;
    padding-left: 2px;
    border: solid 1px #ADAEB1;
    font-family: "Open Sans";
    color: #ADAEB1;
}

.section-middle-contact iframe {
    width: 95.5%;
    margin: 0 2%;
    border: solid 1px #97979B;
    height: 180px;
}

.main-container-contact{
    width: 96%;
    padding: 2%;
    text-align: center;    
}
.main-container-contact a, .contact-second-p a{
    color: #000;
    text-decoration: none;
}

.main-container-contact a:hover, .contact-second-p a:hover{
    color: #000;
    text-decoration: underline;
}

.main-container-contact-wide{
    display: none;
}

.contact-second-p{
    display: none;
}

.section-middle-contact fieldset input{
    border: solid 1px #ADAEB1;
}

/* ----- REGISTER PAGE ----- */
.section-middle-register {
    text-align: left;
    margin: 2% auto;
}

a.register-a {
    padding: 3% 4%;
    border: solid 1px #333;
    color: #333;
    text-decoration: none;
    font-size: 88%;
    display: inline-block;
}

a.register-a:hover {
    border: solid 1px #ADAEB1;
    color: #ADAEB1;

}

section.section-middle-contact.section-register {
    background: #E3E5E6;
}

form.register-form {
    float: none !important;
    margin: 0 auto;
}

.register-fieldset{
 text-align: left;
}
/* ----- LOCALITY MAP PAGE ----- */
.history-asrticle{
    text-align: right; 
}

.history-par{
    text-align: center;
}

.zebra{
    width:100%;
}

.footer-facilites{
 margin-top: 3%;   
    
}

.directions-heading {
    margin-bottom: 0;
    padding-left: 1%;
}
/*************************************************
TABLET PHONE LAYOUT:
481PX TO 800PX. INHERITS STYLES FROM : MOBILE LAYOUT
*************************************************/
@media only screen and (min-width: 551px) {
#mobile {
    width: 98%;
    padding: 1%;
	}

.title {
    text-align: center;
    font-size: 180%;
	}
    
 .click-to-buy img, .rabie img, .facebook img{
    width: 30%;
}   
    
#mobile img {width: 5%;}
.mobile-logo{display: none;}
.main_heading{display: block;}
.title{text-align: center;}
.title-top, .title-mid{margin-bottom: 1%; letter-spacing: 0.03em;}

/* ----- PRICE LIST DOWNLOAD BUTTON ----- */
.download {
    width: 50%;
}  
 
/* ---- LOGO ----- */    
.wide-logo, #logo, .wide-logo-contact{
	display: block;
	}	
	
.wide-logo{
    position: absolute;
    width: 25%;
    top: 16%;
    left: 8.5%;
    z-index: 999;
	}
	
/* ----- MAIN CONTAINER ----- */
.main-container{position: relative;}
    
#banner {
    line-height: 1.3em;
    display: block;
    background: #000;
    color: #efefef;
    width: 66%;
    height: auto;
    font-size: 90%;
    padding: 0.8%;
    letter-spacing: 0.35em;
    font-weight: 600;
    position: absolute;
    z-index: 999;
    left: 20%;
    top: 6%;
    text-align: center;
    margin: 0;
	}    

.main-pic-1, .main-pic-2{
	display: block;
    float: left;
	}
	
.main-pic-1{
	width: 11.6%;
	margin-top: 3%;
	}
	
	.main-pic-1 img{
	width: 100%;
	}	

.main-pic-2{
	width: 16.4%;
	}

#slidy-container {
    width: 72%;
    float: left;
    overflow: hidden;
	padding-top: 3%;
	position: relative;
	}

#red-banner {
    width: 46%;
    position: absolute;
    z-index: 99;
    top: auto;
    left: 28%;
    bottom: 0;
	}
	
	
.heading-2{margin: 3% auto 0;}	

/* ----- MIDDLE SECTION - ASIDES ----- */

 .section-m-aside2-article{
    width: 98%;
    padding: 0 1%;
    text-align: center;
	}

.jules{
	text-align: right;
    margin-right: 2%;
	}
    
/* ------ FACILITIES PAGE ----- */
.facilities-par {
    width: 83%;
    padding: 1%;
}

.facilities-heading {
    margin: 3% auto;
}
    
/* ----- BOTTOM SECTION ----- */
#bottom-section-main-fig{
	margin-bottom: 0;
	}
	
#bottom-section-sub-1, #bottom-section-sub-2{
	margin-top: 0;
	}
	
#bottom-section-sub-1{	
    width: 50%;
    float: left;
	}
	
	#bottom-section-sub-1 img{	
    	width: 100%
		}

#bottom-section-sub-2{
    width: 50%;
    float: left;
	}
	
	.figcap-main{
	    position: absolute;
		right: 5%;
		bottom: 7%;
		color: #AFC956;
		-ms-transform: rotate(-5deg); /* IE 9 */
		-webkit-transform: rotate(-5deg); /* Safari */
		transform: rotate(-5deg);		
		}
		
	.figcap-sub{
	    position: absolute;
		left: 5%;
		bottom: 7%;
		color: #fff;
		-ms-transform: rotate(-5deg); /* IE 9 */
		-webkit-transform: rotate(-5deg); /* Safari */
		transform: rotate(-5deg);
		}

/* ----- REGISTER PAGE ----- */
.section-middle-register {
    width: 80%;

}    
    
 a.register-a {
    padding: 2% 3%;
}   
/* ----- CONTACT PAGE ----- */
.section-middle-contact{
    width: 80%;
    text-align: center;
    margin: 2% auto;
}

.main-container-contact-wide{
    width: 100%;
    display: block;
    margin: 3% auto;
}
    
.section-middle-contact form{
    width: 46%;
    float: left;
}   

.section-middle-contact iframe {
    width: 49.5%;
    float: left;
    height: 400px;
}    
    
figure.wide-logo-contact {
    width: 23%;
    float: left;
    text-align: left;
    box-shadow: 1px 2px 4px #E3E5E6;
}

.contact-heading{
    width: 77%;
    float: left;
    background: #E3E5E6;
    margin: 3% auto;
    } 
    
    .contact-heading h1{
        text-align: left;
        margin-left: 15%;
        font-size: 227%; 
        font-family: "Open Sans";
        letter-spacing: 0;
    }
    
    .main-container-contact{
        display: none;
        width: 80%;
        margin: 3% auto; 
        padding: 0;
        position: relative;
    }
.contact-second-p{
    display: block;
}    

    
/* ----- NEWS PAGE ARTICLES ----- */
article.news-article {
    width: 98%;
    margin: 0 1%;
    }    
  
    figure.news-img {
        width: 28%;
        float: left;
        }
	
    .news-content {
        width: 65%;
        float: left;
        margin-top: 0;
        padding: 0 1%;
        }
    
figure#news_details_fig-d{
    width: 80%; 
    margin: 1% 0;
    }
    
.directions-heading {
    padding-left: 0;
}    
    
}
	
	
/*************************************************
DESKTOP LAYOUT:
801PX TO 1300PX. INHERITS STYLES FROM : MOBILE LAYOUT AND TABLET LAYOUT
*************************************************/
@media only screen and (min-width: 1201px) {
#wrapper{
    padding-top: 0;
	width: 65%;
	}
    .contact-heading h1 {
}
    .section-middle{
        margin-top: 4%;
    }
    
.history-par{
    text-align: right;
}     
    
/* ------ NAV ------ */		
#mobile{display: none;}	
a.register-a {
    padding: 1% 3%;
}
#desktop_menu {
	display: block;
    list-style: none;
    width: 11%;
	position: fixed;
	margin-top: 7%;
	z-index: 100;
	}

#desktop_menu li {
    width: 93%;
	height: auto;
    background: #E3E5E6;
	margin-left: 40%;
	border-bottom: 1px solid #999;
	box-shadow: 0px 0px 10px #888888 inset;
	}

#desktop_menu li a {
    box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    text-decoration: none; text-align: center;
    display: block;
    width: 100%;    
    padding: 12px;
    margin-right:30px;    
    font-family: "Open Sans";
    color: #ADAEB1;
    transition: width 0.3s ease-in-out; 
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
	}

#desktop_menu li:last-child {
	border-bottom: none;
	}

#desktop_menu li a:hover{
    background: #000;
    color: #7FB81C;
    border-bottom: 1px solid #9E9EA0;
    width: 100%;
	}

.menu-item-margin{
	margin-top: 0.8%;
	}

li.icon {
    box-shadow: none !important;
    border: none !important;
	}
	
	html ul li.icon a{
		padding: 0 !important;
		}
/* ----- PRICE LIST DOWNLOAD BUTTON ----- */
.download {
    width: 30%;
    padding: 2%;
    margin: 2% 0;
}  
    
/* ----- THE VILLAGE ------ */
p.bilbo.coffee.village-dog-p {
    width: 90%;
    padding: 0;
    color: #666;
    line-height: 1em;
}    
 
    .dog{
        width: 75%;
    }    
    
    .village-landscape{
        width: 90%;
        margin-left: 10%;
    }
/* ----- LOCALITY MAP PAGE ----- */
.fig{
	overflow: scroll;
	}
    
    
.locality-article{
	float: left;
	}
	
	p.bilbo.locality-mid-p {
		line-height: 1.2em;
		}

.locality-article {
    padding: 0;
}
    
    .directions-heading{
        margin-bottom: 0;
    }    
/* ----- LADYBUG ----- */
#ladybug {
    width: 4%;
    z-index: 999;
    display: block;
    position: absolute;
    left: 87%;
    top: 350px;
    -webkit-animation-name: spiderdropone;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    animation-name: spiderdropone;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0s;
	position: fixed;
	}


/* ----- FACILITIES PAGE ----- */
.facilities{
    position: relative;
    margin-top: 2%;
    }
    
.facilities-heading {
    margin: 0% 0 2% auto;
    width: 100%;
    top: 1%;
    right: 2%;
    }
    
    .facilities-heading h1{
        line-height: 1.3em;
        }
  
/* ----- LARGE TITLES/QUOTES ----- */
.title-top,
.title-mid{
	margin: 2% auto;
	}

    .contact-title{
        margin: 0 auto;
    }
/* ----- MAIN SECTION ----- */


#red-banner {
    width: 46%;
    bottom: 0;
	top: auto;
	}	

.jules {
	margin-right: 12%;
	margin-bottom: 2%;
	}

/* ---- BUTTERFLY ----- */
div#butterfly {
	display: block;
    position: absolute;
    left: 90px;
	bottom: 65px;
    float: right;
    width: 105px;
    height: 80px;
    z-index: 999999999;
    -webkit-transform: rotate(-30deg) translate(-100px, 13px) scale(0.8, 0.8);
    -webkit-transform-origin: center center;
    -moz-transform:rotate(-30deg) translate(-88px, 30px) scale(0.8, 0.8);
    -moz-transform-origin: center center;
	}

div#rightwing{
    position: absolute;
    left:0px;
    top:0px;
    width: 50px;
    height: 75px;
    background-image: url("../images/caf-butterfly.png");
    background-repeat:no-repeat;
    
    -webkit-transform: rotate3d(0, 0, 0, 180deg); /* Mirror left wing */
    -webkit-transform-origin: center right;
    -webkit-animation-name: rightwingani;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    
    -moz-transform: rotate3d(0, 0, 0, 180deg); /* Mirror left wing */
    -moz-transform-origin: center right;
    -moz-animation-name: rightwingani;
    -moz-animation-duration: 8s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
	
	
}

@-webkit-keyframes rightwingani {
    from {
        -webkit-transform: rotate3d(0, 1, 0, 180deg);
    }
    30% {
        -webkit-transform: rotate3d(0, 1, 0, 180deg);
    }
    50% {
        -webkit-transform: rotate3d(0, 1, 0, 100deg);
    }
    70%{
        -webkit-transform: rotate3d(0, 1, 0, 180deg);
    }
    to{
        -webkit-transform: rotate3d(0, 1, 0, 180deg);
    }
}

@-moz-keyframes rightwingani {
    from {
        -moz-transform: rotate3d(0, 1, 0, 180deg);
    }
    30% {
        -moz-transform: rotate3d(0, 1, 0, 180deg);
    }
    50% {
        -moz-transform: rotate3d(0, 1, 0, 100deg);
    }
    70%{
        -moz-transform: rotate3d(0, 1, 0, 180deg);
    }
    to{
        -moz-transform: rotate3d(0, 1, 0, 180deg);
    }
}

div#leftwing{
    position: absolute;
    left:0px;
    top:0px;
    width: 50px;
    height: 75px;
    background-image: url("../images/caf-butterfly.png");
    background-repeat: no-repeat;
    
    -webkit-transform-origin: top right;
    -webkit-animation-name: leftwingani;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    
    -moz-transform-origin: top right;
    -moz-animation-name: leftwingani;
    -moz-animation-duration: 8s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
	
}

@-webkit-keyframes leftwingani {
    from {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
    }
    30%  {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
    }
    50% {
        -webkit-transform: rotate3d(0, 1, 0, 80deg);
    }
    70%{
        -webkit-transform: rotate3d(0, 1, 0, 00deg);
    }
    to{
        -webkit-transform: rotate3d(0, 1, 0, 00deg);
    }
}


@-moz-keyframes leftwingani {
    from {
        -moz-transform: rotate3d(0, 1, 0, 0deg);
    }
    30%  {
        -moz-transform: rotate3d(0, 1, 0, 0deg);
    }
    50% {
        -moz-transform: rotate3d(0, 1, 0, 80deg);
    }
    70%{
        -moz-transform: rotate3d(0, 1, 0, 00deg);
    }
    to{
        -moz-transform: rotate3d(0, 1, 0, 00deg);
    }
}

	
/* ----- SECTION MIDDLE _ ASIDES ----- */
.aside-1 {
    width: 38%;
    float: left;
    margin-right: 2%;
	}
	
	.top-article p{
    	text-align: left;
		}

.boxshadow{
	display: block;
	}	

.lizard{
	display: block;
	width: 85%;
	}
		
.aside-2{
    width: 59%;
	margin-left: 1%;
    float: left;
	}
	
	.middle-p{
		display: block;
		margin: 0 0 5% 0;
		}
	
	.section-m-aside2-article {
		text-align: right;
		letter-spacing: 0.02em;
		}
		
		
	.aside-2 #img-1,
	.aside-2 #img-2, 
	.aside-2 #img-3{
		display: block;
		width: 32.7%;
		margin-right: 0.5%;
		float: left;
		}
		
	html .aside-2 .last{margin: 0 !important;}	

   
/* ------ BOTTOM SECTION ----- */
.section-bottom{
	margin: 2% auto;
	}
	
aside.aside-1-bottom {
    width: 63%;
    float: left;
    margin-right: 2%;
	}

.bottom-fig {
    margin: 0 auto;
	position: relative;
	}
	
	.figcap-main{
		display: block;
	    position: absolute;
		right: 5%;
		bottom: 7%;
		color: #AFC956;
		-ms-transform: rotate(-5deg); /* IE 9 */
		-webkit-transform: rotate(-5deg); /* Safari */
		transform: rotate(-5deg);		
		}
		
	.figcap-sub{
		display: block;
	    position: absolute;
		left: 5%;
		bottom: 7%;
		color: #fff;
		-ms-transform: rotate(-5deg); /* IE 9 */
		-webkit-transform: rotate(-5deg); /* Safari */
		transform: rotate(-5deg);
		}	
	
aside.aside-2-bottom {
	width: 35%;
	float: left;
	}

html .first{
	margin-top: 0 !important;
	}
	
p.bilbo.coffee {
    width: 60%;
    padding: 0 15%;
	margin-top: 7%;
    line-height: 1em;
    text-align: center;
	-ms-transform: rotate(-5deg); /* IE 9 */
	-webkit-transform: rotate(-5deg); /* Safari */
	transform: rotate(-5deg);
	}	
    

 /* ---- DOCS PAGE ----- */
.docs {
    width: 33%;
    float: left;
    text-align: center;
    margin: 1% auto;
    padding: 4% 0%;
    border-bottom: none;
    border-right: solid 1px #999;
    }
    
    .docs-section div:nth-of-type(3),
    .docs-section div:nth-of-type(6),
    .docs-section div:nth-of-type(9),
    .docs-section div:nth-of-type(12),
    .docs-section div:nth-of-type(15),
    .docs-section div:nth-of-type(18),
    .docs-section div:nth-of-type(21),
    .docs-section div:nth-of-type(24),
    .docs-section div:nth-of-type(27),
    .docs-section div:nth-of-type(30){
        border-right: none;;
        }
    
/* ------ RETIREMENT ----- */
    .retirement-aside-1{
        width: 30%;
    } 
    
    .retirement-aside-2{
        width: 67%;
    } 
    .duck{
        display: block;
        width: 15%;
        float: left;
        margin-left: 10%;
    }
    
    .retirement-middle-article{
        width: 100%;
    }
    
   html .section-bottom .retirement-aside-bottom-1{
        width: 55%
    }
    
    .retirement-p{
        margin-top: 0 !important;
    }
 .bottom-article p {
    text-align: left;

}
/* ----- CONTACT PAGE ----- */
.section-middle-register {
    width: 100%;

}    
    
/* ----- CONTACT PAGE ----- */
.main-container-contact{
    width: 96%;
    margin: 2% auto;

}
.section-middle-contact{
    width: 100%;
    text-align: center;
    margin: 2% auto;
}

.section-middle-contact fieldset{
    border: none;
    padding: 0;
}

.section-middle-contact form{
    width: 46%;
    float: left;
}    
    
.section-middle-contact fieldset input, .section-middle-contact fieldset label, .section-middle-contact fieldset textarea{
    width: 96%;
    padding: 2% 0;
    margin: 4% auto;
}
.section-middle-contact fieldset textarea{
    min-height: 100px;
}


.section-middle-contact fieldset input[type="submit"]{
    background: #fff;
    padding: 3% 0;
    border: solid 1px #ADAEB1;
}

.section-middle-contact iframe {
    float: left;
    height: 400px;
}    
 
/* ----- REGISTER ----- */
section.section-middle-contact.section-register {
    padding-top: 2%;
}
}
	