.site-plan{
    position: relative; 
}

.pin{
    position: absolute;
    width: 1.6%;
}

.hotspot-img{
    display: none; 
    position: absolute;
    width: 35%;
    padding: 2% 3% 3%;
    background: #fff; 
    box-shadow: #999 1px 1px 9px inset;
}
.gate-house{
    bottom: 28%;
    left: 49%;
}

.gate-house-img{
    bottom: 32%;
    left: 24%;
}



.lifestyle{
    bottom: 71%;
    left: 44%;
}

.lifestyle-img{
    bottom: 34%;
    left: 9.5%;
}



.function-venue{
    bottom: 84%;
    left: 40.9%;
}

.function-img{
    bottom: 48%;
    left: 2%;
}

.reddam{
    bottom: 42%;
    left: 78.4%;
}

.reddam-img{
    width: 9%;
    bottom: 46%;
    left: 64%;
}