@charset "utf-8";

html,body {
		margin: 0px;
		padding: 0px;
		color: #5D5D5D;
		background: #fff;
	}
	
html{overflow-y: scroll}	
	
body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 100%;
	color: #666;
	margin: 0px; 
	background: #fff;
	}
	
.clear_float{
	clear: both;
	}

.curimg{
    width: 40%;
}

td {
	font: 100% Arial, Verdana, Geneva, Helvetica, sans-serif;
	color: #5D5D5D;
	}
	
.tbl_row_odd {
	background-color: #DCDCDC;
	}

	#page_num_display{
	padding: 5%;
	}
	
	#page_num_display a {
		padding: 1%;
		text-decoration: none;
		border: 1px solid #A8A8A8;
		color: #333;
		}
		
		#page_num_display a:hover {
		border: 1px solid #A8A8A8;
		background-color: #A8A8A8;
		color: #FFF;
		}

#content_container{
	width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
	}
	
#logo{
	width: 60%;
    margin: 0 auto 3%;
	}	
	
#my_footer{
	text-align: center;
	}

#p1{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	}
	
#p1 a{
	text-decoration: none;
	}
	
#p1 a:hover{
	text-decoration: underline;
	}

a h2:hover{text-decoration: underline}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 16px 0;
	font-weight: 300;
	color: #333;
	}
	
h1 {
	font-size: 1.6em;
	font-weight: 400;
	}

h2 {
	font-size: 1.4em;
	font-weight: 400;
	}
	
h3 {
	font-size: 1.2em;
	font-weight: 400;
	}
	
h4 {
	font-size: 1em;
	font-weight: 400;
	}
	
h5 {
	font-size: 0.9em;
	font-weight: 400;
	}
	
h6 {
	font-size: 0.8em;
	font-weight: 400;
	}

	
img {
	border: 0px;
	max-width: 100%;
	}
	
.required:after{
	content: " * ";
	color: #F00;
	}
	
.events_button{
	margin: 0 1%;
	}

.tbldatadisplay form, .tbldatadisplay .btnstatus{
	float: right;
	}
	
.admin_heading{
	width: 26%;
	float: left;
	}

.admin_heading_small{
	width: 22%;
	float: left;
	}
	
.admin_details{
	width: 26%;
	float: left;
	}	
	
.admin_details_small{
	width: 22%;
	float: left;
	}	
	
.admin_buttons{
	float: left;
	margin-right: 1%;
	}
	
.rentalinfo{
	margin: 0.5%;
	}
	
#news{
	margin: 2% 0;
	
	}
	
	#news a{
		text-decoration: none;
		color: #333;
		}
		
#news_fig{
	width: 24%;
    margin: 0.5%;
    float: left;
	position: relative;
	}
	
	.delete_img{
		position: absolute;
		top: -10px;
		right: -4px;
		}
	
#news_content{
	width: 100%;
	float: left;
	}
	
#news_details_fig{
	width: 100%;
	margin: 2% auto;
	}
	
	#news_details_fig img{
		max-width: 100%;
		}
		
#news_details_figcap{
	width: 46%;
	margin: 2% 0;
	color: #666;
	}

#news_details_date{
	width: 44%;
	padding: 0;
	color: #999;
    font-size: 90%;
	}		
#buttons{
	width: 98%;
	padding: 1%;
	border-bottom: solid 1px #666;
	}
	
	#buttons form{
		width: 18%;
		float: right;
		}
#msg{
	color: #F00;
	}

#cms-header {
	height: 70px;
	}
	
#main_header {
	float: left;
	}

#main_container {
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    height: auto;
    width: 960px;
    padding: 0;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #333;
	min-height: 400px;
}
	
#branding_bar {
	margin: 0px auto;
	height: auto;
	width: 924px;
	padding: 16px 0px 0px 0px;
}

	#branding_bar h1 {
		margin: 0;
		}

#navbar_main {
	width: 928px;
	height: auto;
	padding: 16px 16px 16px 16px;
	border: none;
	}
	
#navbar_container {
	width: auto;
	height: auto;
	padding: 8px 16px 14px 16px;
	float:right;
	}

#body_column_left_container {
	padding: 0px 0px 0px 16px;
	width: 236px;
	height: auto;
	margin: 0px 0px 16px 0px;
	border: none;
	float: left;
	}

#body_column_left {
	padding: 0px 0px 16px 0px;
	width: 220px;
	margin: 0px 16px 16px 0px;
	border: none;
	float: left;
	background-color: #fff;
}

.frm input, 
.frm label,
.frm textarea {
	display: block;
	margin: 0 0 6px 0;
		
	}

html form .accesslevel{
	display: inline;
	}
		
.frm fieldset{
		margin: 0 0 15px 0;
		border: #333 solid 1px;		
		}	
		
		.frm textarea{
			width: 98%;
			height: 120px;
			margin-bottom: 2%;
			}
			
			.frm legend{
			font-size: 22px;
			color: #333;
			text-align: center;
			}
			
		.frm label{
			font-size: 18px;
			font-weight: 400;
			margin: 20px 0 10px 0;
			}

	.frm fieldset:lastchild{
		margin: 0;
		}
		
.details_class td p span{
	font-weight: bold;
	}
	
.msg{
	color: #F00;
	margin: 1% 0;
	}
	
.msg_box{
	width: 40%;
	color: #F00;
	border: 1px solid #F00;
	padding: 2% 1%;
}
#body_column_right_container {
	padding: 0px;
	width: auto;
	height: auto;
	margin: 0px 0px 16px 0px;
	border: none;
	float: left;
}

#body_column_right {
    width: 692px;
    height: auto;
    margin: 0px 16px 16px 0px;
    background-color: #fff;
}

	.tbldatadisplay {
		width: 100%;
		border: none;
		}
		
		.tbldatadisplay td {
			padding: 10px;
			}


#page_header_main {
	padding: 10px 8px 3px 8px;
	width: 674px;
	margin: 0px 16px 16px 0px;
	color: #006699;
	font-size: 1.2em;
	font-weight: 700;
	}

.clearfloat_right {
	content: " ";
	height: 0px;
	clear: right;
	font-size: 0px;
	line-height: 0px;
	}

.clearfloat_both {
	content: " ";
	height: 0px;
	clear: both;
	font-size: 0px;
	line-height: 0px;
	}

.navbarmain a:link {
	font-size: 1em;
	color: #006699;
	letter-spacing: 0.1em;
	text-decoration: none;
	font-weight: 300;
}

.navbarmain a:visited {
	font-size: 1em;
	color: #444;
	letter-spacing: 0.1em;
	text-decoration: none;
}

.navbarmain a:hover {
	font-size: 1em;
	color: #444;
	letter-spacing: 0.1em;
	text-decoration: underline;
}

.navbarmain a:active {
	font-size: 1em;
	color: #444;
	letter-spacing: 0.1em;
	text-decoration: none;
}

/* In-page links */
.inpagelink a:link {
	font-size: 12px;
	color: #000;
	text-decoration: none;
}

.inpagelink a:visited {
	font-size: 12px;
	color: #000;
	text-decoration: none;
}

.inpagelink a:hover {
	font-size: 12px;
	color: #c00;
	text-decoration: underline;
}

.inpagelink a:active {
	font-size: 12px;
	color: #c00;
	text-decoration: none;
}

.tbl_border {
	border: #BFC6CE 1px solid;
	background-color: #fff;
	}

.subnav a:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}

.warning_msg {
	color: #C00;
	font-weight: bold;
	}

.frmaction {
	display: inline-block;
	float: right;
	}
	
.button {
	width: 130px;
	background-color: #006699;
	color: #fff;
	height: 45px;
	font-size: 0.9em;
	border-radius: 8px;
	margin: 10px 0 10px 0;
	}

.tblborder {
	border: 1px dashed #828282;
	border-radius: 5px;
	}

#preview
{
color:#cc0000;
font-size:12px
}

.imgList 
{
max-height:150px;
margin-left:5px;
border:1px solid #dedede;
padding:4px;	
float:left;	
}